@model WebSite.Models.Maestro
@{
    ViewBag.Title = "Consulta";
}
<div class="jumbotron">
    <h1>Consulta de Maestro </h1>
    <h2>Encabezado de la Factura</h2>
    <p>Al presionar Mostar Tabla Se muestran todas las facturas</p>
    <p>

        <a id="consulta" href="https://localhost:44335/Consulta/Tabla" class="btn btn-primary btn-lg">Mostrar Tabla Maestro &raquo;</a>
        <a id="consulta" href="./Modifica" class="btn btn-primary btn-lg">Modificacion Maestro &raquo;</a>
        <a id="consulta" href="./Detalle" class="btn btn-primary btn-lg">Consultar Detalle &raquo;</a>


    </p>
</div>

<div id="agregar">
    <p>Esta es una prueba se puede seguir editando</p>
    
</div>
 
   



   


