@model WebSite.Models.Maestro

@{
    ViewBag.Title = "Consulta";


}
<div class="jumbotron">
    <h1>Consulta de Maestro </h1>
    <h2>Encabezado de la Factura</h2>
    <p>Al presionar Mostar Tabla Se muestran todas las facturas</p>
    <p>

        <a id="consulta" href="../Consulta/Tabla" class="btn btn-primary btn-lg">Mostrar Tabla Maestro &raquo;</a>
        <a id="consulta" href="../Modifica" class="btn btn-primary btn-lg">Modificacion Maestro &raquo;</a>
        <a id="consulta" href="../Detalle" class="btn btn-primary btn-lg">Consultar Detalle &raquo;</a>


    </p>
</div>

@using (Html.BeginForm("Tabla", "Consulta", FormMethod.Get))
{
    <div id="agregar">
        <p>Aqui aparecen las facturas</p>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <tr>
                    <th>@ViewBag.f</th>

                    <th>@ViewBag.n</th>
                    <th>@ViewBag.t</th>
                </tr>

                <tr>

                    <td>
                        @foreach (string facturas in ViewBag.fact)
                        {
                            <ul class="table-bordered">
                                @facturas
                            </ul>
                        }
                    </td>

                    <td>
                        @foreach (string nombres in ViewBag.nom)
                        {
                            <ul class="table-bordered">
                                @nombres
                            </ul>
                        }
                    </td>
                    <td>
                        @foreach (string totales in ViewBag.tot)
                        {
                            <ul class="table-bordered">
                                @totales
                            </ul>
                        }
                    </td>




                </tr>

            </table>


        </div>

    </div>

}





