@model WebSite.Models.EntidadesBasedeDatos
@{
    ViewBag.Title = "Detalle";
}
<div class="jumbotron">
    <h1>Modifica Detalle de Factura </h1>
    <h2>Se modifica un detalle (linea) de una factura</h2>
    <p>Se debe indicar con detalle cual es el registro que se desea eliminar</p>
    <p>
        <a id="consulta" href="./Consulta" class="btn btn-primary btn-lg">Regresar a Consulta Maestro &raquo;</a>
        <a id="Borra" href="" class="btn btn-primary btn-lg">Borrar linea de detalle &raquo;</a>


    </p>
</div>


