<div class="jumbotron">
    <h1>Web service para Prueba Técnica</h1>
    <p class="lead">API Utilizando MVC. Con el propósito de conectar a la base de Datos SQLServer llamada MaestroDetalle.</p>
    <p><a href="https://localhost:44333/Help" class="btn btn-primary btn-lg">API &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Ejemplos de Uso</h2>
        <p>Se puede consultar la información con algunos ejemplos de como se deben emplear las API
        Revisando la documentación de cada una de las API siguiendo el enlace a continuación.</p>
        <p><a class="btn btn-default" href="#">Ver documentacion &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manual completo</h2>
        <p>Se puede descargar el manual de usuario en formato pdf con el codigo y los ejemplos .</p>
        <p><a class="btn btn-default" href="#">Descargar Manual &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Obtener el código</h2>
        <p>Se puede descargar el código de todo el proyecto o de las API en el repositorio en Github.</p>
        <p><a class="btn btn-default" target="_blank" href="https://github.com/ElmerSF/Examen-Tecnico">Ver en Github &raquo;</a></p>
    </div>
</div>
