@{
    ViewBag.Title = "Sobre este Proyecto";
}
<h2>@ViewBag.Title.</h2>
<h3>Breve descripición</h3>

<p>
    Este proyecto tiene la finalidad de conectar una base de Datos llamada MaestroDetalle. <br />
    con este WebSite, esto lo hace por medio de API, con las cuales se maneja la interación con la base de Datos
</p>
<p>El modelo que se utilizó es el de MVC</p>
