@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web Site para Prueba Técnica</h1>
    <p class="lead">Utilizando MVC Se Realizan operaciones sobre Maestro (Factura) - Detalle.</p>
    <p><a href="https://github.com/ElmerSF/Examen-Tecnico" target="_blank" class="btn btn-primary btn-lg">Repositorio en Github &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Consulta Maestro</h2>
        <p>
            En esta página puede Consultar el Maestro es decir todos los encabezados de Factura
            Donde se puede ver el número de Factura, la fecha, el cliente y el total.
        </p>
        <p><a class="btn btn-default" href="./consulta">Consulta Maestro &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Modificacion del Maestro</h2>
        <p>
        En esta página puede Modificar el Maestro es decir que puede modificar uno de los valores
            del encabezado de la factura. Se puede modificar el cliente de la factura
        </p>
        <p><a class="btn btn-default" href="../Modifica">Modificar Maestro &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consulta del detalle</h2>
        <p>
        En esta página se puede Consultar un detalle en específico de una factura, también desde esta página se puede
            eliminar permantemente un detalle.
        </p>
        <p><a class="btn btn-default" href="../Detalle">Consulta detalle &raquo;</a></p>
    </div>
</div>